@import '../../asset/variables.scss';

$button-padding: 10px;
$padding-horizontal: 16px;
$button-border-width: 1px;

.Button {
    border: $button-border-width solid $blue-type-color;
    border-radius: 5px;
    background-color: $white-color;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 100px;
    padding: 10px;
    outline: 0;

    &:hover {
        background-color: $blue-type-color;
        border-color: $white-color;

        .Button__label {
            color: $white-color;
        }
    }

    &:focus {
        border-color: $light-blue-color;
    }

    &__label {
        color: $blue-type-color;
    }
}


